<!DOCTYPE html>
<html lang='eng'>
<meta charset='utf-8'>

  <head>
  <title>'Add a colour'</title>
  </head>
  <body>
    <h1>Which colour will you ENTER?!?!?!?!</h1>
      <form method='POST'>
        <input name='colour' placeholder='colour here'>
        <input name='url' placeholder='url here'>
        <input name='text' placeholder='text here'>
        <input name='reference' placeholder='reference here'>
        <button type='submit'>Submit Info</button>
      </form>
  </body>


